<ion-header>
  <ion-toolbar>
    <ion-title>{{category}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="strFilter" slot="start" title="Search"></ion-searchbar>
    <ion-button (click)="filter()" color="light" slot="start" style="top: 50%;" >
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <!--
      TODO:

      Bitte in den sucheinstellungen einbauen nicht direkt auf tab2/vegan schaut auf smartphons nicht gut aus


    <ion-segment slot="end">
      <ion-segment-button>
        <ion-label>Datum</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="Sort('A-Z')">
        <ion-label>A-Z</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="Sort('Z-A')">
        <ion-label>Z-A</ion-label>
      </ion-segment-button>
    </ion-segment>-->
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let recipe of recipes; let i= index">
          <ion-card *ngIf="filter(recipe.name)">
            <ion-card-header>
              <ion-card-subtitle>{{recipe.category}}</ion-card-subtitle>
              <ion-card-title style="font-size: medium; font-weight: bold;">{{recipe.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{recipe.desc}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

