<ion-header>
  <ion-toolbar>
    <ion-title>{{category}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="strFilter" slot="start" title="Search"></ion-searchbar>
    <ion-button (click)="filter()" color="light" slot="start" style="top: 50%;" >
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let recipe of recipes; let i= index">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{recipe.category}}</ion-card-subtitle>
              <ion-card-title style="font-size: medium; font-weight: bold;">{{recipe.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-text>Difficulty: {{recipe.difficulty}}</ion-text>
                </ion-item>
                <ion-item>
                  <ion-text>Prepare Time: {{recipe.prepareTime}}</ion-text>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

