<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{activity.date | date : 'medium'}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input disabled="true" [(ngModel)]="activity.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Distance in km: </ion-label>
        <ion-input disabled="true" [(ngModel)]="activity.distance"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Duration in min: </ion-label>
        <ion-input disabled="true" [(ngModel)]="activity.minutes"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>BurnedCalories in kcal: </ion-label>
        <ion-input disabled="true" [(ngModel)]="activity.burnedCalories"></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
