<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Erfolge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>

<div class="ion-text-center">Username</div>
<ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../assets/Recipes/restaurant.png">
        </ion-avatar>
        <ion-label>
          <h2>Kalorien Eingabe</h2>
          <p>{{this.calorieIntake.calorieCurrent}} / {{this.calorieIntake.calorieGoal}}</p>
        </ion-label>
        <ion-button (click)="navigate()" slot="end">add</ion-button>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../assets/Recipes/water-glass.png">
        </ion-avatar>
        <ion-label>
          <h2>Wasser</h2>
          <ion-button (click)="increaseWater()">+</ion-button>
          <ion-button (click)="decreaseWater()">-</ion-button>
        </ion-label>
        <ion-text>{{waterIntake.goWC}} Liter</ion-text>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../assets/Recipes/sleep.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Schlafen</h2>
          <ion-button (click)="increaseSleep()">+</ion-button>
          <ion-button (click)="decreaseSleep()">-</ion-button>
        </ion-label>
        <ion-text>{{sleep.hoSC}} Stunden</ion-text>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../assets/Recipes/herausfoderung.png">
        </ion-avatar>
        <ion-label>
          <h2>Achievements</h2>

        </ion-label>
        <ion-button (click)="navigateAchivement()"slot="end">GoTo</ion-button>
      </ion-item>
      <ion-button slot="end" (click)="update()">Update</ion-button>
    </ion-list>
</ion-content>
