<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>

<div class="ion-text-center"></div>
<ion-list>
    <ion-card>
      <ion-item button detail (click)="navigate()">
        <ion-avatar slot="start">
          <img src="../../../../assets/Recipes/restaurant.png">
        </ion-avatar>
        <ion-label>
          <h2>Kalorien</h2>
          <p>{{this.calorieIntake.calorieCurrent}} / {{calorienGoal}} </p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button detail (click)="navigateActivity()">
        <ion-avatar slot="start">
          <img src="../../../../assets/icon/running.png">
        </ion-avatar>
        <ion-label>
          <h2>Activity</h2>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../assets/Recipes/water-glass.png">
        </ion-avatar>
        <ion-label>
          <h2>Wasser</h2>
          <ion-button (click)="increaseWater()">+</ion-button>
          <ion-button (click)="decreaseWater()">-</ion-button>
        </ion-label>
        <ion-text>{{waterIntake.goWC}} Liter</ion-text>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../assets/Recipes/sleep.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Schlafen</h2>
          <ion-button (click)="increaseSleep()">+</ion-button>
          <ion-button (click)="decreaseSleep()">-</ion-button>
        </ion-label>
        <ion-text>{{sleep.hoSC}} Stunden</ion-text>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button detail (click)="navigateAchivement()" >
        <ion-avatar slot="start">
          <img src="../../../../assets/Recipes/herausfoderung.png">
        </ion-avatar>
        <ion-label>
          Achievements

        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item button (click)="navigateAllActivitys()" detail>
        <ion-avatar slot="start">
          <img src="../../../../assets/icon/sport-equipment.png">
        </ion-avatar>
        <ion-label>All Activity</ion-label>
      </ion-item>
    </ion-card>

    </ion-list>
</ion-content>
