<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-title>DietTracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex">
    <ion-avatar class="image-center">
      <img src="../../../../assets/Recipes/TestPerson.jpg">
    </ion-avatar>
    <h1>{{user.name}}</h1>
    <br>
    <br>
    <br>
    <ion-text style="font-size:160%;">Alter:</ion-text>
    <ion-text style="font-size:160%;" class="ttt">Gewicht:</ion-text>
    <ion-text style="font-size:160%;" class="ttt">Ziel:</ion-text>
    <br>
    <br>
    <br>
    <ion-text style="font-size:160%;">{{user.dateOfBirth}}</ion-text>
    <ion-text style="font-size:160%;" class="ttt2">{{user.goalWeight}}</ion-text>
    <ion-text style="font-size:160%;" class="ttt2">{{user.goalWeight}}</ion-text>
    <br>
    <br>
    <ion-text id="progressbar" style="font-size:160%;">Progress bar</ion-text>
    <br>
    <br>
    <ion-progress-bar style="width: 75%; left: 14.5%; height: 1.5%;"> </ion-progress-bar>
    <br>
    <br>
    <ion-text style="font-size:160%;"> Die Letzten Tage</ion-text>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-text>
                25.10.2020
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                +100P und -136kal
              </ion-text>

            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
          <ion-card-header>
            <ion-text>
              26.10.2020
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              +100P und -136kal
            </ion-text>
          </ion-card-content>
        </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-text>
                27.10.2020
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                +100P und -136kal
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-text>
                28.10.2020
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                +100P und -136kal
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-text>
                29.10.2020
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                +100P und -136kal
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-text>
                30.10.2020
              </ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                +100P und -136kal
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
