.ion-text-center{
  text-align: center;
}

.ion-align-items-center{
  text-align: center;
}

.flex{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  margin-top: 2;
  height: 80%;
}

.ttt{
  margin-top: 2.5%;
}
.ttt2{
  margin-top: 5%;
}
.ttt3{
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.ttt4{
  margin-top: 2000px;
}

.image-center{
  margin:0 auto;

  }

#progressbar{
  margin-top: 1000px;
}

.col1{
  text-align: right;
}
.col2{
  text-align: center;
}

.col3{
  text-align: left;
}
.bottom{
  margin-bottom: 2.5;
}

