<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-title>DietTracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex">
    <ion-avatar class="image-center">
      <img src="../../assets/Recipes/TestPerson.jpg">
    </ion-avatar>
    <h1>Tobias Fraunberger</h1>
    <br>
    <br>
    <ion-text style="font-size:160%;">Ziel</ion-text> 
    <ion-text style="font-size:160%;" class="ttt">Gewicht</ion-text>
    <ion-text style="font-size:160%;" class="ttt">Alter</ion-text>
    <br>
    <br>
    
    <ion-text style="font-size:160%;">Progress bar</ion-text>
    <br>
    <br>
    <ion-progress-bar style="width: 50%; left: 25%; height: 1.5%;"> </ion-progress-bar>
  </ion-content>




