<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-title>DietTracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex">
    <ion-avatar class="image-center">
      <img src="../../assets/Recipes/TestPerson.jpg">
    </ion-avatar>
    <h1>Tobias Fraunberger</h1>
    <ion-text>Ziel</ion-text> 
    <ion-text class="ttt">Gewicht</ion-text>
    <ion-text class="ttt">Alter</ion-text>
    <br>
    <br>
    <ion-text>Progress bar</ion-text>
    <ion-progress-bar style="width: 50%; left: 25%;"> </ion-progress-bar>
  </ion-content>




