.ion-text-center{
   text-align: center;
}

.ion-align-items-center{
   text-align: center;
}

.flex{
   display: flex;
   justify-content: center;
   align-content: center;
   text-align: center;
   align-items: center;
 }

 .ttt{
   margin-left: 10%;
 }

 .image-center{
   margin:0 auto;
   }