<ion-header [translucent]="true">
  <ion-toolbar style="text-align: center;">
    <ion-title>DietTracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-content style ="top:5%; ">
    
      <ion-avatar class="avatars">
      
        <img src="./../../assets/Recipes/TestPerson.jpg">
      </ion-avatar>
    
      <h1 style="text-align: center;">Tobias Fraunberger</h1>
      <div style="text-align: center;">
      <h2>Ziel</h2>
      <h2>Gewicht</h2>
      <h2>Alter</h2>
    </div>
    <p style="text-align: center; font-size:160%">Progress bar</p>
    <ion-progress-bar style="width: 50%; height: 2%;"></ion-progress-bar>

     

  </ion-content>
 
  
</ion-content>





