.avatars{
    margin:auto;
}

.alter{
   display: inline;
   float: left;
   width: 20%;
}
.gewicht{
    display: inline;
    float: left;
    width: 50%;
 }
 .ziel{
    display: inline;
 
    
 }
 h2{
    display: inline-block;
    margin: 5%;
 }

 .box {
   float: right;
   width: 25%;
   margin-right: 3.33333%;
   padding: 5%;
   
}
   

  
