<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rezepte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content style="width: 70%; left: 15%;">
    <ion-list>
      <ion-list-header style="font-size: 120%	;">
        <ion-title>Kategorien</ion-title>
        <ion-searchbar></ion-searchbar>
      </ion-list-header>
      <ion-item routerLink="./vegan">
        <ion-text slot="start">Vegan</ion-text>
        <ion-badge slot="end" color="primary">4</ion-badge>
      </ion-item>
      <ion-item routerLink="./vegetarian">
        <ion-text >Vegetarian</ion-text>
        <ion-badge slot="end" color="primary">8</ion-badge>
      </ion-item>
      <ion-item>
        <ion-text >Low Carb</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Normal Food</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Category 1</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Category 2</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Category 3</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Category 4</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Category 5</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Category 6</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Category 7</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Category 8</ion-text>
      </ion-item>
      <ion-item>
        <ion-text >Category 9</ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
