
<div class="container d-flex justify-content-center align-items-center">
  <div class="form-wrapper text-center">
      <h2 class="text-center">Sign Up</h2>
      <form [formGroup]="signupForm">
          <div class="form-group">
              <input type="text" class="form-control" id="first-name-input" placeholder="username" formControlName="username" >
          </div>
          <div class="form-group">
              <input type="email" class="form-control" id="email-input" placeholder="enter email" formControlName="email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" id="password-input" placeholder="enter password" formControlName="password">
          </div>
          <button (click)="sumbmit()" class="btn btn-primary">Sign Up</button>
      </form>
      <small><a class="navlink" (click)="navigate()">Already have an Account?</a></small>
  </div>
</div>
