ion-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%) !important;
  display: block !important;
  /*width: 100%;*/
  width: 75%;
  max-width: 400px !important;
  border: none;
  padding: 20px;
  border-radius: 5px;
}

.paddingclass
{
  padding-inline: 20%;
}
