<ion-content>
  <ion-grid >
    <ion-row >
      <ion-col >
        <ion-title class="paddingclass">Sign Up</ion-title>
      </ion-col>
      <img src="assets\icon\apple-60.png" alt="An Apple" style="width:50px;height:50px;">
    </ion-row>
    <ion-row class="form-row" >
      <ion-col >
        <form class="backgroundwhite">
          <ion-item lines="full">
            <ion-label position="floating">Username</ion-label>
            <ion-input [(ngModel)]="this.username" type="text" name="username" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Repeat Password</ion-label>
            <ion-input [(ngModel)]="this.repassword" type="password" name="repassword" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Date of Birth</ion-label>
            <ion-input [(ngModel)]="this.dateOfBirth" type="text" name="dateOfBirth" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Gender</ion-label>
            <ion-input [(ngModel)]="this.gender" type="text" name="gender" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Goal Weight</ion-label>
            <ion-input [(ngModel)]="this.goalWeight" type="number" name="goalWeight" required></ion-input>

          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Height</ion-label>
            <ion-input [(ngModel)]="this.height" type="number" name="height" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="this.email" type="text" name="email" required></ion-input>
          </ion-item>


          <ion-item lines="full">
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input [(ngModel)]="this.phoneNumber" type="text" name="phoneNumber" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Weight</ion-label>
            <ion-input [(ngModel)]="this.weight" type="number" name="weight" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Activity Level(1 to 10)</ion-label>
            <ion-input [(ngModel)]="this.activityLevel" type="number" name="activityLevel" required></ion-input>
          </ion-item>

          <ion-button (click)="submitForm()" type="submit" color="danger" expand="block">Sign Up</ion-button>
          <a [routerLink]="['/login']" class="small-text">Already got an Account?</a>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
