<ion-content>
  <ion-grid >
    <ion-row >
      <ion-col >
        <ion-title class="paddingclass">Sign Up</ion-title>
      </ion-col>
      <img src="assets\icon\apple-60.png" alt="An Apple" style="width:50px;height:50px;">
    </ion-row>
    <ion-row class="form-row" >
      <ion-col >
        <form [formGroup]="signupForm" #f="ngForm">

          <ion-item lines="full">
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username" type="text" name="username"></ion-input>
            <div *ngIf="signupForm.controls.username.touched && signupForm.controls.username.errors?.required">Missing user name</div>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password" name="password"></ion-input>
            <div *ngIf="signupForm.controls.password.touched && signupForm.controls.password.errors?.required">Missing password</div>
            <div *ngIf="signupForm.controls.password.touched && signupForm.controls.password.errors?.minlength">Password too short</div>

          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Repeat Password</ion-label>
            <ion-input formControlName="repassword" type="password" name="repassword"></ion-input>
            <div *ngIf="signupForm.controls.repassword.touched && signupForm.controls.repassword.errors?.required">Missing password</div>
          </ion-item>

          <ion-item button="true" id="open-date-input">
            <ion-label>Date</ion-label>
            <ion-text slot="end">{{ signupForm.controls.dateOfBirth.value }}</ion-text>
            <ion-popover trigger="open-date-input" show-backdrop="false">
              <ng-template>
                <ion-datetime
                  #popoverDatetime
                  presentation="date"
                  (ionChange)="signupForm.controls.dateOfBirth.value = formatDate(popoverDatetime.value)"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>



          <ion-item lines="full">
            <ion-label position="floating">Gender</ion-label>
            <ion-select formControlName="gender" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Goal Weight (KG)</ion-label>
            <ion-input formControlName="goalWeight" type="number" name="goalWeight"></ion-input>
            <div *ngIf="signupForm.controls.goalWeight.touched && signupForm.controls.goalWeight.errors?.required">Missing goal weight</div>
            <div *ngIf="signupForm.controls.goalWeight.touched && signupForm.controls.goalWeight.errors?.min">Value must be between 20 and 300</div>
            <div *ngIf="signupForm.controls.goalWeight.touched && signupForm.controls.goalWeight.errors?.max">Value must be between 20 and 300</div>

          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Height (CM)</ion-label>
            <ion-input formControlName="height" type="number" name="height"></ion-input>
            <div *ngIf="signupForm.controls.height.touched && signupForm.controls.height.errors?.required">Missing height</div>

          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text" name="email"></ion-input>
            <div *ngIf="signupForm.controls.email.touched && signupForm.controls.email.errors?.required">Missing Email</div>
            <div *ngIf="signupForm.controls.email.touched && signupForm.controls.email.errors?.email">Not a valid email</div>
          </ion-item>


          <ion-item lines="full">
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input formControlName="phoneNumber" type="text" name="phoneNumber"></ion-input>
            <div *ngIf="signupForm.controls.phoneNumber.touched && signupForm.controls.phoneNumber.errors?.required">Missing Phone Number</div>
            <div *ngIf="signupForm.controls.phoneNumber.touched && signupForm.controls.phoneNumber.errors?.pattern">Not valid</div>

          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Weight</ion-label>
            <ion-input formControlName="weight" type="number" name="weight"></ion-input>
            <div *ngIf="signupForm.controls.weight.touched && signupForm.controls.weight.errors?.required">Missing Weight</div>
            <div *ngIf="signupForm.controls.weight.touched && signupForm.controls.weight.errors?.min">Value must be between 20 and 300</div>
            <div *ngIf="signupForm.controls.weight.touched && signupForm.controls.weight.errors?.max">Value must be between 20 and 300</div>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Activity Level(1 to 10)</ion-label>
            <ion-input formControlName="activityLevel" type="number" name="activityLevel"></ion-input>
            <div *ngIf="signupForm.controls.activityLevel.touched && signupForm.controls.activityLevel.errors?.required">Missing ActivityLevel</div>
            <div *ngIf="signupForm.controls.activityLevel.touched && signupForm.controls.activityLevel.errors?.min">Value must be greater equal 1</div>
            <div *ngIf="signupForm.controls.activityLevel.touched && signupForm.controls.activityLevel.errors?.max">Value must be smaller equal 10</div>

          </ion-item>

          <ion-button (click)="submitForm()" type="submit" color="danger" expand="block" [disabled]="signupForm.invalid">Sign Up</ion-button>
          <a [routerLink]="['/login']" class="small-text">Already got an Account?</a>

          <p>
            Is valid:
            {{ signupForm.valid | json }}
          </p>
          <p>
            Name
            {{ signupForm.controls.username.value | json }}
          </p>
          <p>
            pass
            {{ signupForm.controls.password.value | json }}
          </p>
          <p>
            Repass
            {{ signupForm.controls.repassword.value | json }}
          </p>
          <p>
            Date of birth
            {{ signupForm.controls.dateOfBirth.value | json }}
          </p>
          <p>
            Gender
            {{ signupForm.controls.gender.value | json }}
          </p>
          <p>
            Goal weight
            {{ signupForm.controls.goalWeight.value | json }}
          </p>
          <p>
            Height
            {{ signupForm.controls.height.value | json }}
          </p>
          <p>
            email
            {{ signupForm.controls.email.value | json }}
          </p>
          <p>
            Phone
            {{ signupForm.controls.phoneNumber.value | json }}
          </p>
          <p>
            weight
            {{ signupForm.controls.weight.value | json }}
          </p>
          <p>
            activity
            {{ signupForm.controls.activityLevel.value | json }}
          </p>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
