<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">Rezepte</ion-title>
    <ion-button slot="end" class="ion-padding-end" (click)="addRecipe()">New Recipe</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content style="width: 80%; left: 10%;">
    <ion-list>
      <ion-list-header style="font-size: 120%    ;">
        <ion-title style="font-size: small; padding-left: 0%;">Kategorien</ion-title>
        <ion-searchbar></ion-searchbar>
      </ion-list-header>

      <ion-item detail button *ngFor="let cat of categories" (click)="nextPage(cat.name)">
        <ion-text >{{cat.name}}</ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
