
.error-box{
    padding:10px;
    border:1px solid darken(#FA5858, 10%);
    background-color: #FA5858;
    border-radius:4px;
    margin-bottom:10px;
}

ion-thumbnail{
  --size: 60%;
}


.image-center{
  margin:0 auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
