<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>

<ion-list>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../../../assets/Recipes/restaurant.png">
    </ion-avatar>
    <ion-label>
      <h2>Kalorien Eingabe</h2>
      <ion-input disabled="true" placeholder="Enter Input" [(ngModel)]="this.calorieIntake.calorieCurrent"></ion-input>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../../../assets/Recipes/Protein.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Protein Eingabe</h2>
      <ion-input disabled="true" placeholder="Enter Input"  [(ngModel)]="this.calorieIntake.proteinCurrent"></ion-input>
    </ion-label>

  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../../../../assets/Recipes/Kohlenhydrate.png">
    </ion-avatar>
    <ion-label>
      <h2>Kohlenhydrate</h2>
      <ion-input disabled="true" placeholder="Enter Input" [(ngModel)]="this.calorieIntake.carbohydratesCurrent"></ion-input>
    </ion-label>

  </ion-item>

  <ion-item >
    <ion-avatar slot="start">
      <img src="../../../../../../assets/Recipes/Fett.png">
    </ion-avatar>
    <ion-label>
      <h2>Fett</h2>
      <ion-input disabled="true" placeholder="Enter Input" [(ngModel)]="this.calorieIntake.fatCurrent"></ion-input>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>
    <ion-label>Write your CalorieIntake</ion-label>
  </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../../../assets/Recipes/restaurant.png">
        </ion-avatar>
        <ion-label>
          <h2>Kalorien Eingabe</h2>
          <ion-input placeholder="Enter Input" [(ngModel)]="this.newCalorieIntake.calorieCurrent"></ion-input>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../../../assets/Recipes/Protein.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Protein Eingabe</h2>
          <ion-input placeholder="Enter Input"  [(ngModel)]="this.newCalorieIntake.proteinCurrent"></ion-input>
        </ion-label>

      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../../../assets/Recipes/Kohlenhydrate.png">
        </ion-avatar>
        <ion-label>
          <h2>Kohlenhydrate</h2>
          <ion-input placeholder="Enter Input" [(ngModel)]="this.newCalorieIntake.carbohydratesCurrent"></ion-input>
        </ion-label>

      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../../../assets/Recipes/Fett.png">
        </ion-avatar>
        <ion-label>
          <h2>Fett</h2>
          <ion-input placeholder="Enter Input" [(ngModel)]="this.newCalorieIntake.fatCurrent"></ion-input>
        </ion-label>

      </ion-item>
    </ion-list>
    <ion-button (click)="this.update()">Update</ion-button>
</ion-content>
