<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>


<ion-list>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../../../assets/icon/kalorien.png">
        </ion-avatar>
        <ion-label position="fixed">Kalorien</ion-label>
          <ion-input slot="end" type="number" placeholder="Enter Input" [(ngModel)]="this.newCalorieIntake.calorieCurrent"></ion-input>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../../../assets/icon/protein.png">
        </ion-avatar>
        <ion-label position="fixed">Protein</ion-label>
          <ion-input slot="end" type="number" placeholder="Enter Input"  [(ngModel)]="this.newCalorieIntake.proteinCurrent"></ion-input>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../../../assets/icon/brot.png">
        </ion-avatar>
        <ion-label>Kohlenhydrate</ion-label>
        <ion-input slot="end" type="number" placeholder="Enter Input" [(ngModel)]="this.newCalorieIntake.carbohydratesCurrent"></ion-input>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../../../../../assets/icon/fleisch.png">
        </ion-avatar>
        <ion-label>Fett</ion-label>
        <ion-input slot="end" type="number" placeholder="Enter Input" [(ngModel)]="this.newCalorieIntake.fatCurrent"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label>
          <h2 style="font-weight: bold;">Current Stats</h2>
          <ion-input disabled="true" placeholder="Fett" [(ngModel)]="this.calorieIntake.fatCurrent"> Fat</ion-input>
          <ion-input disabled="true" placeholder="Protain" [(ngModel)]="this.calorieIntake.proteinCurrent"> Protein</ion-input>
          <ion-input disabled="true" placeholder=""  [(ngModel)]="this.calorieIntake.carbohydratesCurrent">Carbohydrates</ion-input>
          <ion-input disabled="true" placeholder=""  [(ngModel)]="this.calorieIntake.calorieCurrent">Calorie</ion-input>

        </ion-label>
      </ion-item>
      <ion-item color="primary" button (click)="this.update()">
        <ion-text slot="end">Add</ion-text>
      </ion-item>
    </ion-list>
</ion-content>
