<ion-header>
  <ion-toolbar>
    <ion-button class="ion-padding-start" slot="start" (click)="back()">Back</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Search for Ingredients" [(ngModel)]="searchString" (ionChange)="search()"></ion-searchbar>
  <ion-row class="header-row">
      <ion-col size="6" class="ion-text-center">
        <ion-text>Name</ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text>Size</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>Amount</ion-text>
      </ion-col>
    </ion-row>

  <ion-row *ngFor="let item of ingredientsPresentation" class="data-row">
    <ion-col size="6" class="ion-text-center">
      <ion-text>{{item.name}}</ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-text>{{item.value}}</ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-text>{{item.unit}}</ion-text>
    </ion-col>
    <ion-col>
      <ion-input (input)="select(item.id.toString(), $event.target.value, item.name)" placeholder="0" [value]="checkValueOnStart(item.id.toString())" type="number"></ion-input>
    </ion-col>
  </ion-row>
</ion-content>
