<ion-header>
  <ion-toolbar>
    <ion-back-button>Back</ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Search for Ingredients" [(ngModel)]="searchString" (ionChange)="search()"></ion-searchbar>
  <ion-grid>
    <ion-row><ion-col>Name</ion-col><ion-col>Amount</ion-col></ion-row>
  </ion-grid>
  <ion-list *ngFor="let item of ingredientsPresentation">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text>{{item.name}}</ion-text>
          </ion-col>
          <ion-col offset-4>
              <ion-input placeholder="0" clearInput="true" type="number"></ion-input>
              <ion-text slot="end">Stk.</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
