<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Activity</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-list>
<ion-item>
  <ion-avatar slot="start">
    <img src="../../../../../../assets/icon/sport-equipment.png">
  </ion-avatar>
  <ion-label>
    <h2>Kind of Activity</h2>
    <ion-input placeholder="Enter Input" [(ngModel)]="this.activity.name"></ion-input>
  </ion-label>
</ion-item>

<ion-item>
  <ion-avatar slot="start">
    <img src="../../../../../../assets/icon/distance.png">
  </ion-avatar>
    <ion-label>
      <h2>Distance</h2>
      <ion-input placeholder="Enter Input" [(ngModel)]="this.activity.distance"></ion-input>
    </ion-label>
 </ion-item>

 <ion-item>
  <ion-avatar slot="start">
    <img src="../../../../../../assets/icon/clock.png">
  </ion-avatar>
    <ion-label>
      <h2>Duration</h2>
      <ion-input placeholder="Enter Input" [(ngModel)]="this.activity.minutes"></ion-input>
    </ion-label>
 </ion-item>

 <ion-item>
  <ion-avatar slot="start">
    <img src="../../../../../../assets/icon/trending-topic.png">
  </ion-avatar>
    <ion-label>
      <h2>Burnd Calorien</h2>
      <ion-input placeholder="Enter Input" [(ngModel)]="this.activity.burnedCalories"></ion-input>
    </ion-label>
 </ion-item> 

 <ion-button (click)="add()">Add</ion-button>
<!-- 
 <ion-item>
    <ion-label>
      <h2>Activity Stats</h2>
      <ion-input disabled="true" placeholder="Fett" [(ngModel)]="this.calorieIntake.fatCurrent"> Fat</ion-input>
      <ion-input disabled="true" placeholder="Protain" [(ngModel)]="this.calorieIntake.proteinCurrent"> Protein</ion-input>
      <ion-input disabled="true" placeholder=""  [(ngModel)]="this.calorieIntake.carbohydratesCurrent">Carbohydrates</ion-input>
    </ion-label>
 </ion-item> 
</ion-list> -->
