<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Activity</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- 
<ion-item> 
  <ion-label>Kind of Activty</ion-label>
  <ion-select>
    <ion-select-option *ngFor="let activtiy of activitys" [value]="activtiy">{{}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-avatar slot="start">
    <img src="">
  </ion-avatar>
    <ion-label>
      <h2>Distance</h2>
      <ion-input placeholder="Enter Input" [(ngModel)]="this.calorieIntake.calorieCurrent"></ion-input>
    </ion-label>
 </ion-item>

 <ion-item>
  <ion-avatar slot="start">
    <img src="">
  </ion-avatar>
    <ion-label>
      <h2>Duration</h2>
      <ion-input placeholder="Enter Input" [(ngModel)]="this.calorieIntake.calorieCurrent"></ion-input>
    </ion-label>
 </ion-item>

 <ion-item>
  <ion-avatar slot="start">
    <img src="">
  </ion-avatar>
    <ion-label>
      <h2>Burnd Calorien</h2>
      <ion-input placeholder="Enter Input" [(ngModel)]=""></ion-input>
    </ion-label>
 </ion-item> -->
