<ion-content fullscreen="true">
  <ion-grid >
    <ion-row>
      <ion-col>
          <ion-title class="paddingclass">Log In</ion-title>
      </ion-col>
      <img src="assets\icon\apple-60.png" alt="An Apple" style="width:50px;height:50px;">
    </ion-row>
    <ion-row class="form-row" >
      <ion-col >
        <form [formGroup]="loginForm" #f="ngForm">
          <ion-item lines="full">
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username" type="text" name="username"></ion-input>
            <div *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">Missing username</div>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password" name="password" required></ion-input>
            <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">Missing password</div>
          </ion-item>

          <ion-button (click)="submitForm()" type="submit" color="danger" expand="block">Sign In</ion-button>
          <a [routerLink]="['/forgot-pass']" class="small-text">Forgot Password?</a>
        </form>
        <a style="text-align:center" [routerLink]="['/signup']" class="small-text">Have no account yet? Sign up now!</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
