<ion-content>
  <ion-grid >
    <ion-row >
      <ion-col >
          <ion-title class="paddingclass">Get new password</ion-title>
      </ion-col>
      <img src="assets\icon\apple-60.png" alt="An Apple" style="width:50px;height:50px;">
    </ion-row>
    <ion-row class="form-row" >
      <ion-col >
        <form class="backgroundwhite">
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <ion-button type="submit" color="danger" expand="block">get new password</ion-button>
          <a [routerLink]="['/login']" class="small-text">cancel</a>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
