<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>All Activities</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ion-item detail button *ngFor="let activity of activities" (click)="nextPage(activity.id)">
        <ion-text slot="start" >{{getName(activity.name)}}</ion-text>
        <ion-text slot="end">{{activity.date | date : 'fullDate'}}</ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
