<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fooder">
      <ion-icon name="leaf-outline"></ion-icon>
      <ion-label>fooder</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipe">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>recipe</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tracking">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>tracking</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
