
<div class="phone">
  <input type="radio" name="s" id="s1">
  <input type="radio" name="s" id="s2" checked="checked">
  <input type="radio" name="s" id="s3">
  <label for="s1"><img src="./../../../assets/tabBarIcons/abstract-user-flat-4.svg" alt=""></label>
  <label for="s2"><img src="./../../../assets/tabBarIcons/recipes.svg" alt=""></label>
  <label for="s3"><img src="./../../../assets/tabBarIcons/swipe.svg" alt=""></label>
  <div class="circle"></div>
  <div class="phone_content">
    <div class="phone_bottom">
      <span class="indicator"></span>
    </div>
  </div>
</div>
