<ion-header>
  <ion-toolbar>
    <ion-title>Achivements</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let achivment of achivments, let i index">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{achivment.name}}</ion-card-subtitle>
            <ion-card-title style="font-size: medium; font-weight: bold;">{{achivment.category}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{achivment.accept}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
